*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
eval
*.npz
**/tmp
mesh_compare_out/aligned_reference_nope/NewBlend_BRDFFull_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_BRDFFull-Evenfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_BRDFFull-Highdetail_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_BRDFFull-Saferfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_BRDFReadyRoughness0_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_FalloffAndSpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_FalloffOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_FullBRDFOnlyCenterCam_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_ImproveLoss_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_ImproveLossLastV3Finished_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_ImproveLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_IntroduceGGXFresnel_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_IntroduceGGXFresnelCompletely_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlend_SpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlendTest_Standard2DGS_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/Outside_Ambient_GaussianActuallyMoveTestTbehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/OutsideConsistencyLossCheap_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/OutsideConsistencyLossMoreCostly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/OutsideConsistencyLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/OutsideSurfaceRegualrization_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/VaseClean_FixedAllGradients_AllOn_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/VaseClean_MoveTestTBehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/VaseClean_NowAllOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_nope/VaseClean_SplitDiffuseToPartsWithFixes_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_BRDFFull_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_BRDFFull-Evenfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_BRDFFull-Highdetail_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_BRDFFull-Saferfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_BRDFReadyRoughness0_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_FalloffAndSpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_FalloffOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_FullBRDFOnlyCenterCam_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_ImproveLoss_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_ImproveLossLastV3Finished_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_ImproveLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_IntroduceGGXFresnel_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_IntroduceGGXFresnelCompletely_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlend_SpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlendTest_Standard2DGS_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/Outside_Ambient_GaussianActuallyMoveTestTbehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/OutsideConsistencyLossCheap_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/OutsideConsistencyLossMoreCostly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/OutsideConsistencyLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/OutsideSurfaceRegualrization_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/VaseClean_FixedAllGradients_AllOn_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/VaseClean_MoveTestTBehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/VaseClean_NowAllOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_notgoodaligned/VaseClean_SplitDiffuseToPartsWithFixes_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_BRDFFull_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_BRDFFull-Evenfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_BRDFFull-Highdetail_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_BRDFFull-Saferfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_BRDFReadyRoughness0_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_FalloffAndSpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_FalloffOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_FullBRDFOnlyCenterCam_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_ImproveLoss_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_ImproveLossLastV3Finished_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_ImproveLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_IntroduceGGXFresnel_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_IntroduceGGXFresnelCompletely_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlend_SpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlendTest_Standard2DGS_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/Outside_Ambient_GaussianActuallyMoveTestTbehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/OutsideConsistencyLossCheap_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/OutsideConsistencyLossMoreCostly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/OutsideConsistencyLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/OutsideSurfaceRegualrization_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/VaseClean_FixedAllGradients_AllOn_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/VaseClean_MoveTestTBehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/VaseClean_NowAllOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_stillbad/VaseClean_SplitDiffuseToPartsWithFixes_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_BRDFFull_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_BRDFFull-Evenfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_BRDFFull-Highdetail_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_BRDFFull-Saferfiner_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_BRDFReadyRoughness0_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_FalloffAndSpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_FalloffOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_FullBRDFOnlyCenterCam_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_ImproveLoss_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_ImproveLossLastV3Finished_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_ImproveLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_IntroduceGGXFresnel_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_IntroduceGGXFresnelCompletely_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlend_SpotOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlendTest_Standard2DGS_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/Outside_Ambient_GaussianActuallyMoveTestTbehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/OutsideConsistencyLossCheap_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/OutsideConsistencyLossMoreCostly_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/OutsideConsistencyLossV2_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/OutsideSurfaceRegualrization_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/VaseClean_FixedAllGradients_AllOn_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/VaseClean_MoveTestTBehind_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/VaseClean_NowAllOff_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/aligned_reference_unalignedisCorrect/VaseClean_SplitDiffuseToPartsWithFixes_iter15000__aligned_to__blender_gt.transform.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_BRDFFull-Evenfiner_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_BRDFFull-Highdetail_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_BRDFFull-Saferfiner_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_BRDFReadyRoughness0_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_FalloffAndSpotOff_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_FalloffOff_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_FullBRDFOnlyCenterCam_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_ImproveLoss_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_ImproveLossLastV3Finished_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_ImproveLossV2_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_IntroduceGGXFresnel_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_IntroduceGGXFresnelCompletely_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlend_SpotOff_iter15000.json
mesh_compare_out/pairwise_json/NewBlend_BRDFFull_iter15000__vs__NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000.json
mesh_compare_out/reference_json/NewBlend_BRDFFull_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFFull-Evenfiner_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFFull-Highdetail_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFFull-Saferfiner_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFReadyRoughness0_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFTrialBackRoughnessAddMetallic0.1_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFTrialBackRoughnessAddMetallic0.4_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_BRDFTrialBitMoreRoughnes0.1_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_FalloffAndSpotOff_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_FalloffOff_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_FullBRDFOnlyCenterCam_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_ImproveLoss_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_ImproveLossLastV3Finished_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_ImproveLossV2_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_IntroduceGGXFresnel_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_IntroduceGGXFresnelBackwardComplete_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_IntroduceGGXFresnelCompletely_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_IntroduceGGXFresnelSeparationComplete_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_IntroduceGGXFresnelTrueRGBSpec_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlend_SpotOff_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlendTest_Standard2DGS_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/NewBlendTest_WithVersionRemovedConfidenceOnly_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/Outside_Ambient_GaussianActuallyMoveTestTbehind_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/OutsideConsistencyLossCheap_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/OutsideConsistencyLossMoreCostly_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/OutsideConsistencyLossV2_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/OutsideSurfaceRegualrization_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/VaseClean_FixedAllGradients_AllOn_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/VaseClean_MoveTestTBehind_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/VaseClean_NowAllOff_iter15000__vs__blender_gt.json
mesh_compare_out/reference_json/VaseClean_SplitDiffuseToPartsWithFixes_iter15000__vs__blender_gt.json
